<html ng-app="ContactListApp">
	<head>

		<link href="media/css/bootstrap.min.css" rel="stylesheet">
		<style>
			input.ng-valid{
				background: green;
			}
			input.ng-invalid{
				background: red;
			}

			[ng-cloak]{
				display:none;
			}
		</style>
	</head>
	<body ng-controller="ContactListCtr" >
		<div>Loading...</div>
		<div class="container" ng-cloak>
			<h1>Contacts list form</h1>
			<button class="btn btn-link" ng-click="addMode=true" ng-hide="addMode" >
				<span class="glyphicon glyphicon-plus-sign"></span>
				Add Contact</button>
			<form name="contactForm" ng-show="addMode">
				<div class="row">
					<div class="col-lg-6">
						<div class="form-input">
							<input type="text" ng-model="contact.name" class="form-control" placeholder="add Name" required>
						</div><!-- /input-group -->
					</div><!-- /.col-lg-6 -->
					<div class="col-lg-6">
						<div class="input-group">
							<input type="email" name="contactEmail" ng-model="contact.email" class="form-control" placeholder="add email" required>
							<span class="input-group-btn">
								<button ng-click="onContactAdd()" class="btn btn-default" type="button">Add!</button>
							</span>
							<p class="text-danger" ng-show="contactForm.contactEmail.$invalid">Error email</p>
						</div><!-- /input-group -->
					</div><!-- /.col-lg-6 -->
					</div><!-- /.row -->
					<p class="text-primary" ng-hide="contactForm.$dirty">Please add contact details into form</p>
					<p class="text-primary" ng-show="contactForm.$invalid">The form have errors</p>
			</form>
						<div>
						<h2>contact List
							<button class="btn btn-danger" ng-show="showMultiplesActions">Delete marked</button>
						</h2>
						<ul class="list-unstyled">
								<li ng-repeat="localContact in contactList track by $index">
									<input type="checkbox" ng-model="localContact.checked"> {{localContact.name}}
									<a href="mailto:{{localContact.email}}">{{localContact.email}}</a>
									<span class="glyphicon" ng-class='{
										"glyphicon-ok": localContact.verified,
										"text-success": localContact.verified,
										"glyphicon-remove": !localContact.verified,
										"text-danger": !localContact.verified
									}'  "></span>
									<button class="btn btn-link" ng-hide="localContact.verified"
									ng-click="localContact.verified=true">verify</button>
									({{localContact.createDate | date : 'dd/M/yyyy HH:mm:ss'}})
								</li>
						</ul>
						<h3>Filter</h3>
						currency {{12555.564 | currency : '\u20AA'}}<br/>
						number {{12555.564 | number:2 }}<br/>
						<code>{{contactList|json}}</code>
				</div>

		</div>
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular.min.js"></script>
		<script>


		</script>
	</body>
</html>
